html, body {
  margin: 0;
  padding: 0;
}

.normal,
.fetching {
  padding: 50px;
  font-size: 16px;

  & a {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.fetching {
  opacity: 0.5;
}
